.newTxt {width:20px;
        border-style: solid;
        border-width: 1px;
        border-color:#566572;
        }
.activeHole {background-color: rgb(137, 137, 151); }

.holeIDCol {width:20%; }
.parCol {width:35%;}
.SICol {width:35%;}
.SGOut {border:1px solid rgb(221, 121, 121);margin:5px}
.editHoleMap {margin:5px; border:1px solid rgb(230, 13, 13);height:100%}
.divShow {border:1px solid rgb(230, 13, 13); }

.hole-edit > div {
        display: flex;
        align-items: center;
      }
      
.hole-edit {
height:100%;
/*display: grid;
grid-template-columns: auto;
grid-template-rows: 10%,60%,15%,10%,5%;
grid-gap: 3px;*/
}
    