<div class="top-edit divShow" >
  <form novalidate (ngSubmit)="onSave()" >
  <label style="padding-right: 1em">Name: </label>
  <input style="padding-right: 1em" name="name" [(ngModel)]="course.name" 
          required minlength="2" pattern="^[A-Za-z ]+$"/>
  <!--<input (keyup.enter)="course.name=$event.target.value" />-->
  <button  class="btn" type="submit" [disabled]="this.dirty===false">
    <clr-icon shape="floppy" size="16" ></clr-icon>
    <!--<span class="clr-icon-title">Save course</span>-->
  </button>
  </form>
  
</div>
<div class='mid-menu' >
  <div class='hole-edit' >
    <div  >
     <button (click)="onClickUpdateLocation()">Set location</button> 
    </div>
    <div class="divShow" style='overflow-y:auto;max-height: 60vh ; align-items: flex-start'>
      <table class="table">
        <thead>
            <tr>
                <th class="holeIDCol">Hole</th>
                <th class="parCol">Par</th>
                <th class="SICol" >SI</th>
                <th>SG (Scratch)</th>
            </tr>
        </thead>
        <tbody>
              <tr *ngFor="let h of course.holes; let i=index" 
                  [ngClass] ="{'activeHole':this.selHole==i}" 
                  (click)="this.onSelHole(i)">
                <td>{{h["id"]}}</td>
                <td>{{h["par"]}}</td>
                <td>{{h["si"] | number:'1.0-0'}}</td>
                <td>{{h["sg_scr"] | number:'1.0-2'}}</td>
            </tr>
        </tbody>
      </table>      
    </div>

    <!-- Buttons for table row adjust / start edit etc -->
    <div class="btn-group btn-icon divShow" style="justify-content: center">
      <button (click)="onShiftUp()" class ="btn" [disabled]="this.selHole<=0 || (state != PageState.view)">
        <clr-icon shape="upload" size="16"></clr-icon>
      </button>
      <button (click)="onShiftDown()" class ="btn" [disabled]="((selHole<0) || (selHole == (course.holes.length-1))) || state != PageState.view">
        <clr-icon shape="download" size="16"></clr-icon>
      </button>
      <button (click)="onAddHole()"  class="btn" 
          [disabled]="state != PageState.view">
        <clr-icon shape="plus" size="16"></clr-icon>
        <span class="clr-icon-title">Add hole</span>
      </button>
      <button (click)="onEditHole()"  class="btn" 
          [disabled]="state != PageState.view || this.selHole<0">
        <clr-icon shape="add-text" size="16"></clr-icon>
        <span class="clr-icon-title">Add hole</span>
      </button>
      <button (click)="isDeleteConfirmVisible=true" class ="btn" [disabled]="this.selHole<0 || state != PageState.view ">
        <clr-icon shape="times" size="16"></clr-icon>
      </button>
    </div>
    <!-- Form for new hole -->
    <div class="divShow"  >
      <form id="newHole" [formGroup]="newHoleForm" (ngSubmit)="onNewHoleSubmit()">
        <input class="newTxt holeIDCol"   type="text" formControlName="newHoleId" >
        <select class="parCol"  formControlName ="newHolePar" > 
          <option  >3</option>
          <option  selected="selected" >4</option>
          <option  >5</option>
          <option   >6</option>
        </select>
        <select class="SICol" style='width:70px'  formControlName="newHoleSI">
          <option *ngFor="let n of SIs" [value]="n">{{n}}</option>
        </select>
        <span [style.visibility]="this.newHoleSG===-1 ? 'hidden' : 'visible' ">{{this.newHoleSG | number:'1.1-2'}}</span>
        <!--<div *ngIf="(newHoleId.invalid || newHolePar.invalid) && (newHoleForm.dirty || newHoleForm.touched)" class="alert alert-danger">
          <div *ngIf="newHoleId.errors.required"> Id or hole number required</div>
          <div *ngIf="newHolePar.errors.required"> Par for required</div>
          <div *ngIf="newHoleForm.errors.no_centerline">Need a center line for the hole</div>
          <div *ngIf="newHoleForm.errors.incomplete">Either hole id or par is missing</div>
        </div>-->
      </form>      
    </div>
    <div   class="btn-group btn-icon divShow" style="justify-content: center">
      <button (click)="onDoCenterLine()" class ="btn" [disabled]="state === PageState.view" >
        CL
        <!--<clr-icon shape="child-arrow" size="16"></clr-icon>-->
      </button>
      <button (click)="onNewHoleSubmit()" class ="btn" 
        [disabled]="state === PageState.view">
        <clr-icon shape="check" size="16"  ></clr-icon>
      </button>
      <button (click)="onNewHoleCancel()" class ="btn" 
        [disabled]="state === PageState.view">
        <clr-icon shape="times" size="16"  ></clr-icon>
      </button>
    </div>
  </div>
</div>
<div class="mid-content" style="margin:2px">
  <!--<app-golf-gmap class="editHoleMap"  id='mapView' (cl-event)="onCLEvent($event)"></app-golf-gmap>-->
  <app-golf-gmap></app-golf-gmap>
</div>

<clr-modal [(clrModalOpen)]="isDeleteConfirmVisible" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <h3 class="modal-title">Delete hole</h3>
  <div class="modal-body">
      <p>Certain ?</p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn" (click)="isDeleteConfirmVisible = false">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="onDeleteHole()">
          Delete
      </button>
  </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="showNewHoleNotValid" [clrModalClosable]="true" [clrModalSize]="'sm'">
  <h3 class="modal-title">New/Edit hole</h3>
  <div class="modal-body">
    <p>New a hole id, par and center line for every hole</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" (click)="showNewHoleNotValid = false">Ok</button>
  </div>
</clr-modal>

