<div class="content-container">
  <div class="content-area">
    <div class="clr-row">
      <div class="clr-col-4">
        <div class="btn-group btn-icon">
          <form novalidate (ngSubmit)="onSave()" clrForm clrLayout="horizontal">
            <label>Name: </label>
            <input name="name" [(ngModel)]="course.name" 
                    required minlength="2" pattern="^[A-Za-z ]+$"/>
            <!--<input (keyup.enter)="course.name=$event.target.value" />-->
            <button  class="btn" type="submit" [disabled]="this.dirty===false">
              <clr-icon shape="floppy" size="16" ></clr-icon>
              <!--<span class="clr-icon-title">Save course</span>-->
            </button>
          </form>
        </div>
        <button (click)="onClickUpdateLocation()">Set location</button>

        <table class="table">
          <thead>
              <tr>
                  <th class="holeIDCol">Hole</th>
                  <th class="parCol">Par</th>
                  <th class="SICol" >SI</th>
                  <th>SG (Scratch)</th>
              </tr>
          </thead>
          <tbody>
                <tr *ngFor="let h of course.holes; let i=index" [ngClass] ="{'activeHole':this.selHole==i}" (click)="this.onSelHole(i)">
                  <td>{{h["id"]}}</td>
                  <td>{{h["par"]}}</td>
                  <td>{{h["si"] | number:'1.0-0'}}</td>
                  <td>{{h["sg_scr"] | number:'1.0-1'}}</td>
              </tr>
          </tbody>
        </table>
        <!-- Buttons for table row adjust / start edit etc -->
        <div class="btn-group btn-icon">
          <button (click)="onShiftUp()" class ="btn" [disabled]="this.selHole<=0">
            <clr-icon shape="upload" size="16"></clr-icon>
          </button>
          <button (click)="onShiftDown()" class ="btn" [disabled]="(this.selHole<0) || (this.selHole == (course.holes.length-1))">
            <clr-icon shape="download" size="16"></clr-icon>
          </button>
          <button (click)="onAddHole()"  class="btn" 
              [disabled]="state === PageState.addingHole || state === PageState.editCL">
            <clr-icon shape="plus" size="16"></clr-icon>
            <span class="clr-icon-title">Add hole</span>
          </button>
          <button (click)="onEditHole()"  class="btn" 
              [disabled]="state === PageState.addingHole || state === PageState.editCL || 
                    state === PageState.editHole || this.selHole<0">
            <clr-icon shape="add-text" size="16"></clr-icon>
            <span class="clr-icon-title">Add hole</span>
          </button>
          <button (click)="onDeleteHole()" class ="btn" [disabled]="this.selHole<0">
            <clr-icon shape="times" size="16"></clr-icon>
          </button>
        </div>
        <!-- Form for new hole -->
        <div >
          <form id="newHole" [formGroup]="newHoleForm" (ngSubmit)="onNewHoleSubmit()">
            <input class="newTxt holeIDCol"   type="text" formControlName="newHoleId" >
            <select class="parCol"  formControlName ="newHolePar" > 
              <option  >3</option>
              <option  selected="selected" >4</option>
              <option  >5</option>
              <option   >6</option>
            </select>
            <select class="SICol" style='width:70px'  formControlName="newHoleSI">
              <option *ngFor="let n of SIs" [value]="n">{{n}}</option>
            </select>
            <span [style.visibility]="this.newHoleSG===-1 ? 'hidden' : 'visible' ">{{this.newHoleSG | number:'1.1-1'}}</span>
            <!--<div *ngIf="(newHoleId.invalid || newHolePar.invalid) && (newHoleForm.dirty || newHoleForm.touched)" class="alert alert-danger">
              <div *ngIf="newHoleId.errors.required"> Id or hole number required</div>
              <div *ngIf="newHolePar.errors.required"> Par for required</div>
              <div *ngIf="newHoleForm.errors.no_centerline">Need a center line for the hole</div>
              <div *ngIf="newHoleForm.errors.incomplete">Either hole id or par is missing</div>
            </div>-->
          </form>      
        </div>
        <div   class="btn-group btn-icon">
          <button (click)="onDoCenterLine()" class ="btn" [disabled]="state === PageState.view" >
            CL
            <!--<clr-icon shape="child-arrow" size="16"></clr-icon>-->
          </button>
          <button (click)="onNewHoleSubmit()" class ="btn" 
            [disabled]="state === PageState.view">
            <clr-icon shape="check" size="16"  ></clr-icon>
          </button>
          <button (click)="onNewHoleCancel()" class ="btn" 
            [disabled]="state === PageState.view">
            <clr-icon shape="times" size="16"  ></clr-icon>
          </button>
        </div>
      </div>
      <div class="clr-col-8">
        <app-map id='mapView' (cl-event)="onCLEvent($event)"></app-map>
      </div>
    </div>
  </div>
</div>