<div class="content-container">
  <div class="content-area">
    <div class="clr-row">
      <div class="clr-col-4">
        <form novalidate (ngSubmit)="onSave()" clrForm clrLayout="horizontal">
          <label>Name: </label>
          <input name="name" [(ngModel)]="course.name" 
                  required minlength="2" pattern="^[A-Za-z ]+$"/>
          <!--<input (keyup.enter)="course.name=$event.target.value" />-->
          <button type="submit">Save</button>
        </form>
        <button (click)="onClickUpdateLocation()">Set location</button>
      
      
        <table class="table">
          <thead>
              <tr>
                  <th>Hole</th>
                  <th>Par</th>
                  <th>SI</th>
                  <th>SG (Scratch)</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>I</td>
              </tr>
          </tbody>
        </table>
      </div>
      <div class="clr-col-8">
        <app-map id='mapView'></app-map>
      </div>
    </div>
  </div>
</div>