<!--The content below is only a placeholder and can be replaced.-->
<div class="main-container">
	<header class="header-3">
		<div class="branding">
			<a class="nav-link">
				<clr-icon shape="home" size="24"></clr-icon>
				<span class="title">Project SG</span>
			</a>
		</div>
		<div class="header-nav">
			<a class="active nav-link nav-text">Home</a>
		</div>
	</header>
	<div class="content-container">
		<div class="content-area">
			<h3>Starter Instructions:</h3>
			<ul>
        <li *ngFor="let Cor of srvRef.items | async"> {{ Cor.name }}  </li>
			</ul>
		</div>
	</div>
</div>
