<div class="my-container">
	<!--<header class="header-3">-->
		<div class="my-header branding">
			<a class="nav-link" routerLink="">
				<clr-icon shape="home" size="24"></clr-icon>
				<span class="title">SG</span>
			</a>
		</div>
		<div *ngIf="afAuth.user | async as user; else showLogin">
			<h1>Hello {{ user.displayName }}!</h1>
			<button (click)="logout()">Logout</button>
		  </div>
		  <ng-template #showLogin>
			<p>Please login.</p>
			<button (click)="login()">Login with Google</button>
		  </ng-template>
	  
	<!--</header>-->
	<div class="my-content">	
		<router-outlet ></router-outlet>		
	</div>
	<div class="my-footer">
		Useful info
	</div>
	
</div>
