<div>
  <table class="table">
    <thead>
      <tr>
        <td>Hole</td>
        <td>Par</td>
        <td>SG</td>
        <td>Score</td>
        <td>SG</td>
        <td>Long Awful</td>
        <td>Short Awful</td>
        <td>GFIRP</td>
        <td>GIR</td>
        <td>Putts</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>4</td>
        <td>5</td>
        <td>-.8</td>    
      </tr>
    </tbody>
        <!--<clr-dg-row *ngFor="let user of users">
            <clr-dg-cell>{{user.id}}</clr-dg-cell>
            <clr-dg-cell>{{user.name}}</clr-dg-cell>
            <clr-dg-cell>{{user.creation | date}}</clr-dg-cell>
            <clr-dg-cell>{{user.color}}</clr-dg-cell>
        </clr-dg-row>-->
    <thead>
      <tr>
        <td>Summary</td>
      </tr>
    </thead>
        
  </table>
</div>
