
<div >
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <button class="nav-link active" [disabled]="nonSelected()" [routerLink]="['/edit',selId]">Edit</button>
      </li>
      <li class="nav-item">
        <button class="nav-link active" [disabled]="nonSelected()" [routerLink]="['/man-rnd',selId]">Score Card Entry</button>
      </li>

    </ul>
  </nav>  
</div>
<div id="m" class="mid-menu"> 
  <section class="sidenav-content">
    <section class="nav-group">
      <h3>Courses:</h3>
      <ul class="nav-list" >
        <li *ngFor="let Cor of srvRef.Courses$ | async" (click)="courseSel($event)" id="{{Cor.id}}">
          <a class="nav-link">{{ Cor.name }}</a>
        </li>
      </ul>
    </section>
  </section>
</div>
<div class="mid-content">
  <!--<h4>{{selName}}</h4>-->
  <app-golf-gmap></app-golf-gmap>
    <!--<app-map id='mapView' style='display:flex'></app-map>-->
</div>
