<div class="gps-file">
  <input type="file" name="currentInput" [(ngModel)]="currentInput" (change)="onFileSelected($event)"/>
</div>
<div class="btn-group btn-icon  hole-sel" >
  <select   (change)="onHoleChanged($event)">
    <option [ngValue]="h" *ngFor="let h of holeList">{{h | holeSum}}</option>
  </select>
  <button (click)="onAddHole()" class ="btn">
    <clr-icon shape="plus" size="16"></clr-icon>
  </button>
</div>
<div class="hole-shots">
  <table class="table">
    <thead>
      <tr >
        <th>#</th>
        <th>Lie</th>
        <th>Club</th>
        <th>Dist</th>
        <th>SG</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of holeShots ; let i=index" (click)="onShotRowSelected(s.num)"  [className]="s.num==shotSel ? 'selected' : ''">
        <td>{{s.num}}</td>
        <td>
          <select (change)="onLieChanged($event,s.num)" [(ngModel)] = "s.lie">
            <option *ngFor="let l of lies" [value]="l.code">{{l.name}}</option>
          </select>
        </td>
        <td>{{s.clubDisp()}}</td>
        <!--<td>{{s.dist | distYrd}}</td>-->
        <td>{{s.distDisp()}}</td>
        <td>{{s.sg | number: '1.1-2'}}</td>
      </tr>
      <tr>
        <td></td>
        <td>Score</td>
        <td>{{holeShots.length}}</td>
        <td>SG ({{holeSGOrg | number:'1.1-2'}})</td>
        <td>{{holeScoreSG | number:'1.1-2'}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div   class="btn-group btn-icon shot-tools" style="justify-content: center">
  <button (click)="onAddShot()" class ="btn"  >+</button>
  <button (click)="onAddPenalty(false)" class= "btn" >Dp</button>
  <button (click)="onAddPenalty(true)" class= "btn" >OB</button>
  <button (click)="onDeleteShot()" class ="btn"  >-</button>
</div>
<!--<div class="card-rnd">
  <input type="date" [(ngModel)]="when" >
  <button (click)="onSaveCard()" class ="btn">
      <clr-icon shape="floppy" size="16" ></clr-icon>
  </button>
</div>-->
<div class="card-holes">
  <app-score-card></app-score-card>
</div>
<div class="gps-list">
  <app-gps-list></app-gps-list>
</div>
<div class="map-rnd" >
  <app-golf-gmap></app-golf-gmap>
</div>
